* {
    width:100%;
    height:100vh;
    background: url("bg\ img.jpg");
    background-size: cover;
}
#heading {
    width: 100%;
    height: 150px;
    display: flex;
}
#name {
    color:white;
    background: none;
    font-size: 60px;
    font-family: "Poppins", sans-serif;
}
#name:hover {
    color: #c0b6b4;
}
#bname {
    background: none;
	color: inherit;
	border: none;
	padding-left: 40px;
    padding-top: 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
/* CHAT */
#chatpng{
    margin-right: 0px;
    height: 25px;
}
#heading_2nd a {
    padding-top: 40px;
}
#chat {
    color:rgb(255, 255, 255);
    font-size: 100px;
    margin: ;
}


#heading_2nd {
    height: 90px;
    width: 35%;
    padding-left: 600px;
    display: flex;
    justify-content: end;
}
#heading_2nd button{
    border :none;
}
#heading_2nd span {
    font-size:2em;
}
#login a {
    text-decoration: none;
}
#login span {
    padding-left: 80px;
    font-size:50px;
    font-weight: bold; 
    color:rgba(0, 0, 0, 0.765);
}
